#root {
  /* margin: 0 auto; */
  /* padding: 2rem; */
}

/*new letter*/
.newsletter {
  max-width: 100%; /* Ensure the content inside .newsletter doesn't exceed the container width */
}
.newsletter h3{
  text-align: start;
  width: 50%;
}
.input{
height: 45px;
padding: 5px;
gap: 10px;
display: flex;
background-color: var(--background-grey-color);
border-radius: var(--border-radius-md);

}
.newsletter input {
outline: none;
width: 100%;
height: 100%;
padding-left: 10px;
border: none;
font-size: var(--font-size-md);
background-color: transparent;
}

.newsletter .navbar-subscribe {
  background-image: linear-gradient(to left, var(--accent-color) 0%, var( --button-color) 100%);
  font-family: 'Abel', sans-serif;
  padding: 1em 1.9em;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: #FFFFFF;
  font-size: var(--font-size-sm);
  outline: none;
  border: none;
  transition: 0.3s linear;

}

.newsletter .navbar-subscribe:hover{transform: translatey(2px);}
.newsletter .navbar-subscribe:active{transform: translatey(5px);}

::placeholder{color: #999;}
input:focus {background: rgba(0, 0, 333, 0.10);}