.btn {
  padding-bottom: 10px;
  font-size: var(--font-size-md);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn-icon{
  margin-left: 5px;
}
.btn:hover {
  transition: border-bottom-width 0.3s;
  color: var(--primary-color);
}



/* Introduction Section */
.intro-section,
.upcoming-events-section,
.articles-section{
  padding: 50px 20px;
}

.intro-section h2,
/* .events-section h2, */
.upcoming-events-section h2,
.articles-section h2{
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

/* about section */
.about-container {
  background-color: var(--text-color);
}

.intro-section {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  color: white;
  gap: 10px;
  display: flex;
}

.intro-section .about-img, .intro-section .about-content {
  width: 50%;
}

.intro-section .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section .about-img img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.intro-section .about-content {
  text-align: start;
}

.intro-section h2, .intro-section h3 {
  color: var(--primary-color);
}

.about-content h2, .about-content p, .about-content h3 {
  text-align: start;

}

.highlights {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro-section .highlights p {
  margin: 0;

}

.intro-section .highlights div .about-icon {
  margin-right: 10px;
}

.explore-button-container {
  margin-top: 20px;
}

.explore-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none; 
  padding: 10px 20px;
  font-size: var(--font-size-md);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: var(--font-weight-bold);
}

.explore-button:hover {
  background-color: var(--button-color);
}

.slide-show{
  position: relative;
  background-image: url('/Default_technologies_blog_and_tech_no_word_3.jpg');
  background-size: cover;
  background-position: center;
  border-top: 5px solid var(--primary-color);
}
.slide-show::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}



/* opportunities section */
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: var(--primary-color) ;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: var(--font-size-md);
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: var(--button-color);
  color: white;

}
.contact-info {
  margin-top: 20px;
  font-size: var(--font-size-md);
  color: #555;
}



/*articles section*/

.articles-container {
  border-top: 5px solid var(--primary-color);
}

.articles-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  gap: 20px;
}

.articles-section p, .articles-section h2 {
  text-align: center;
  margin: 0;
}

.articles {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.card-article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  transition: transform 0.2s;
  font-size: var(--font-size-md);
  
}


.card-article:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.article-img .label{
  display: flex;
  justify-content: space-between;
}
.article-img .tag {
  /* background-color: white;
  color: var(--text-color);
  padding: 3px 5px;
  font-size: 13px;
  border-radius: var(--border-radius-md);
  position: relative;
  bottom: 200px;
  left: 230px; */
  display: inline-block;
  background-color: #f1eeff;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
  margin: 10px 10px;

}
.article-img .date {
  display: inline-block;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
  margin: 10px 10px;

}


.articles-content {
  padding: 0 10px  20px 10px ;
}

.title {
  margin: 0;
  margin-bottom: 5px;
 }

 .info {
   font-size: var(--font-size-md);
   width: 100%;
            /* this code clamps based on specified lines */
            overflow: hidden;
           -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          display: -webkit-box;

 }

 .button {
   margin-top: 10px;

   font: inherit;
   line-height: 1;
   border: 2px solid var(--button-color);
   color: var(--button-color);
   padding: 0.3em 1em;
   border-radius: 6px;
   font-weight: 500;
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
   gap: 0.5rem;
   &:hover,
   &:focus {
     background-color: var(--button-color);
     color: white;
   }
 }
.card-article p, .card-article h2 {
  text-align: start;

}


.btn {
  text-decoration: none;
  font-size: var(--font-size-md);
  color: var(--button-color);
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.btn:hover {
  text-decoration: underline;
  color: var(--primary-color);
  animation: shake_up_bottom 2s infinite;

}

.btn-icon {
  width: 24px;
  height: 24px;
}
  


@keyframes shake_up_bottom {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(5px);
  }
  100%{
    transform: translateX(0);
  }
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
  }

  .intro-section .about-img, .intro-section .about-content {
    width: 100%;
  }

  .events{
    flex-wrap: wrap;
  }
  .info {
    font-size: var(--font-size-sm);
 
  }
}
