/* navbar */
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  font-size: var(--font-size-sm);
  box-shadow: var(--box-shadow-sm);
}
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  margin-left: 20px;
}
.logo-container {
  width: 200px;
  /* border: 1px solid blue; */
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.navbar-menu .link{
    text-decoration: none;
    color: var(--text-color);
    border-radius: 4px;
    padding: 10px;
    white-space: nowrap;
    transition: background-color 0.3s;
}
.navbar-menu .link:hover {
    background-color: var(--primary-color);
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--background-color);
    border-radius: 0 0 10px 10px;
    z-index: 1000;
    padding: 20px;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.mega-menu {
    display: flex;
    gap: 20px;
  }

.mega-menu-column .link {
    display: block;
    white-space: nowrap;
    transition: color 0.3s;
  }
  .mega-menu .icon {
    padding-right: 5px;
  }
  
  .mega-menu-column .link:hover {
    color: var(--hover-text-color);
  }
.mega-menu-column1{
    display: flex;
    flex-direction: column;
}
.mega-menu-column1 .link{
    white-space: nowrap;
}

.navbar-right {
margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.search-container{
    width: 300px;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--border-color);
}
.search-container .search-icon  {
    display: flex;
    align-items: center;
    padding: 10px;

}
.search-container input{
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;

}