/* navbar */
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: var(--font-size-sm);
  box-shadow: var(--box-shadow-sm);
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  margin-left: 20px;
}

.logo-container {
  /* width: 200px; */
  /*edit*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navbar-menu .link {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  white-space: nowrap;
  transition: background-color 0.3s;
  font-size: var(--font-size-sm);
}

.navbar-menu .link:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  font-weight: var(--font-weight-bold);
  padding-bottom: 10px;
}

.navbar-menu .active {
  text-decoration: none;
  font-size: var(--font-size-sm);
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);

}

.dropdn {
  text-decoration: none;
  color: var(--text-color);
  white-space: nowrap;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 55px;
  left: 0;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: var(--box-shadow-sm);
  z-index: 1000;
  padding: 20px;
}

.mega-menu {
  display: flex;
  gap: 20px;
}

.mega-menu-column .link {
  display: block;
  white-space: nowrap;
  transition: color 0.3s;
}

.mega-menu .icon {
  padding-right: 5px;
}

.mega-menu-column1 {
  display: flex;
  flex-direction: column;
}

.mega-menu-column1 .link {
  white-space: nowrap;
}

.navbar-right {
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.search-icon {
  padding: 15px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: var(--button-color);
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  transition: background-color 0.3s;

}

.search-icon:hover {
  background-color: var(--primary-color);
}

.search-container {
  min-width: 400px;
  display: flex;
  align-items: center;
  background-color: var(--background-grey-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 10px;

}

.search-container .search-input-icon {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-container input {
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}
.search-close-icon {
  display: inline-flex;
  margin-right: 2px;
  padding: 10px;
  cursor: pointer;
}
.navbar-right .navbar-subscribe {
  background-image: linear-gradient(to left, var(--accent-color) 0%, var( --button-color) 100%);
	box-shadow: 0 9px 25px -5px #df91fb;
	font-family: 'Abel', sans-serif;
	padding: 0.8em 1.9em;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: var(--font-size-sm);
	outline: none;
	border: none;
	transition: 0.3s linear;

}

.navbar-subscribe:hover{transform: translatey(2px);}
.navbar-subscribe:active{transform: translatey(5px);}

.menu-toggle {
  display: none;
  background-color: var(--background-color);
  cursor: pointer;
}

.side-menu {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  position: absolute;
  top: 70px;
  left: 0;
  height: calc(94.1vh - 70px);
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  box-shadow: var(--box-shadow-side-menu);
}

.side-menu .open {
  transform: translateX(0);
}

.side-menu .link {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  white-space: nowrap;
  transition: background-color 0.3s;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
}

.side-menu .link:hover {
  color: var(--primary-color);
}

/* active link */
.side-menu .active {
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    height: 70px;
  }

  .logo-container {
    height: 50px;
  }

  .navbar-left {
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 10px;
    margin-left: 5px;
  }

  .mega-menu {
    gap: 0px;
    flex-direction: column;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-right {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .menu-toggle {
    display: inline-flex;
    padding: 2px;
  }

 

  .search-icon {
    padding: 15px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: var(--button-color);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    transition: background-color 0.3s;
  }

  .search-container {
    position: absolute;
    top: 70px;
    left: 0;
    margin: 20px auto;
    z-index: 100;
    min-width: 0;
    margin: 10px;
    width: 90%;
  }
}
