/* navbar */
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: var(--background-color);

}
.container-logo{
    width: 200px;
    /* border: 1px solid blue; */
}
.logo{
    width: 100%;
    height: 100%;
}