
/* event section */

.event-hero {
    background: url('/Default_websites_for_event_designs_zoomwebnar_for_inspiration_3.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.search-filters {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-filters input,
.search-filters select {
    margin: 0 10px;
    padding: 10px;
}
.events-section{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.featured-events,
.upcoming-events {
    padding: 20px;
}

.event-list{
    display: flex;
    justify-content: center;
}

.event-card {
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden; /* Added to ensure the border radius affects the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added a subtle shadow for better visual separation */
}

.event-img {
    width: 100%;
    height: 200px; 
    overflow: hidden; 
}

.event-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.event-content{
    padding: 10px 20px 20px  20px;
}
.event-content .label{
    display: flex;
    justify-content: space-between;
}
.event-content p{
    font-size: var(--font-size-sm);
    margin: 0;
    margin-bottom: 10px;

}
.event-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
} 


  
  