/* footer css */
.footer {
  padding: 30px 20px;
  background-color: var(--footer-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-size-md);
  border-top: 5px solid var(--primary-color);
}
.social-logo-containers{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-logo-container {
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.footer-logo-container img {
  width: 50%;
  height: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* footer links */
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-links h3 {
  text-align: start;
}

.footer-links .footer-link,
.footer-securty-menu .footer-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links .footer-link:hover,
.footer-securty-menu .footer-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

/* Footer newsletter */
.footer-newsletter {
  padding: 5px;
}


/* <!-- Social media icons --> */
.footer-social-media {
  text-align: start;

}
.footer-social-media h3{
  text-align: start;

}





/* footer copyright */

.footer-copyright {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
}

.footer-copyright p {
  font-size: var(--font-size-sm);
}

.footer-securty-menu {
  margin-top: 20px;
  font-size: var(--font-size-sm);
}

.footer-menu-column {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .footer-logo-container {
    display: none;
  }
  .footer-links h3 {
    text-align: center;
  }
  .newsletter h3{
    text-align: center;
    width: 100%;
}

  .footer-content {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-newsletter {
    text-align: center;
  }

  .footer-copyright {
    flex-direction: column-reverse;
    text-align: center;
  }

  .footer-menu-column {
    justify-content: center;
    flex-wrap: wrap;
  }
}
