/* // whole blog page */
.Blog-containers {
  max-width: 1200px;
  margin: auto;
}



/* blog parts */
.blog-articles {
  display: flex;
  gap: 10px;
}

.blog-left {
  flex: 70%;
  padding: 10px;
}

.blog-right {
  flex: 30%;
  padding: 10px;
}

/* featured articles */
.featured-articles {
  margin-top: 20px;
}

.main-article {
  position: relative;
  width: 100%;
  max-width: 800px;
  /* Adjust as needed */
  height: 400px;
}

.main-article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-article-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: start;
}

.featured-authors {
  margin-top: 20px;
}

.authors-list {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;




}

.author-item {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.author-item::after {
  content: '';
  width: 80%;
  height: 2px;
  background-color: var(--border-color);
  margin-bottom: -3px;
  /* Adjust if needed */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);


}

.author-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.author-content {}

.author-content h3 {
  margin: 10px 0;
}

.author-content p {
  font-size: var(--font-size-sm);
  color: #666;
}

.authors-list .btn {
  text-align: center;
  padding: 10px 30px;
}

/* popular articles */
.popular {
  margin-top: 60px;
}
.popular-articles-content{
  position: relative;
  margin-bottom: 40px;
}
.popular-articles-content .label{
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  
}
.popular-articles-content::after {
  content: '';
  width: 80%;
  height: 2px;
  background-color: var(--border-color);
  margin-bottom: -20px;
  /* Adjust if needed */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-60%);
}
.popular-title, .popular-info{
  margin: 0;
  margin-bottom: 10px;
}
.popular-info{
  font-size: var(--font-size-sm);

}

@media screen and (max-width: 768px) {
  .articles{
    justify-content: center;
  }
  .blog-articles {
    flex-wrap: wrap;
    justify-content: center;
  }
  .featured-authors, .popular, .recents-articles
  {
    margin: 10px;
  }

  .main-article-content {
    width: 100%;
    padding: 0 30px;
    left: 50%;
    font-size: var(--font-size-sm);    
  }
}




/* .Blog-featured {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Blog-post {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.Blog-post h2 {
  margin: 0 0 10px;
}

.Blog-post p {
  margin: 5px 0;
}

.Blog-post .category {
  font-style: italic;
  color: #666;
} */