/* blog header */
.Blog-header {
    background-color: var(--button-color);
    color: #fff;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .Blog-categories {
    padding: 20px;
    border-radius: 5px;
  }
  
  .Blog-categories h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(--border-color);
    margin-bottom: 10px;
  }
  
  .categories {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .category {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    white-space: nowrap;
    transition: background-color 0.3s;
    font-size: var(--font-size-sm);
  }
  
  .category:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    font-weight: var(--font-weight-bold);
    padding-bottom: 10px;
  }